
.credit-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

    margin-top: 50px;
    margin-bottom: 25px;
}

.credit-text {
    color: black;
}

.buy-me-coffee {
    color: black;
}